* {
  box-sizing: border-box;
}

@font-face {
    font-family: 'Hyperspace Bold';
    src: url('../assets/fonts/Hyperspace Bold.otf');
}

@font-face {
    font-family: 'Hyperspace italic';
    src: url('../assets/fonts/Hyperspace Italic.otf');
}
@font-face {
    font-family: 'Hyperspace';
    src: url('../assets/fonts/Hyperspace.otf');
}

body {
  margin: 0;
  background-image: url(../assets/images/grey-background.jpg);
  background-size: 1800px;
  color: lightGreen;
  font-family: "verdana";
}

/* .............................. START screen ................................... */
.filter {

  background-color: rgb(42, 42, 42);
  opacity: 0.9;
  width: 1000px;
  height: 600px;
  margin: 100px auto;
  display: flex;
  align-items: center;
  flex-direction: column;

}
.start-screen {
  background-image: url(../assets/images/matrix-background.gif);
  color: lightGreen;
  text-shadow: 2px 2px 5px red;
  font-size: 18;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;

}

.start-screen h1 {
  position: relative;
  top: 30px;
}
.start-game-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}


.start-screen button {
  background-image: url(../assets/images/matrix-background.gif);
  width: 300px;
  height: 100px;
  font: arial, sans-serif;
  font-size: 25px;
  background-color: black;
  opacity: 0.8;
  color: lightGreen;
  border-color: rgb(132, 187, 180);
  border-radius: 10%;
  padding: 30px;
  transition: all 1s ease 3s;
}

.start-screen img {
  position: absolute;
  left: 70px;
  bottom: 70px;
  width: 300px;
  height: auto;
}

/* ........................... MAIN ................................... */
/* HEADER */
h1 {
  font-family: "Hyperspace Bold", "Arial";
  text-align: center;
  font-size: 50px;
  text-shadow: 2px 2px 5px black;
}


#timer {
  position: absolute;
  top: 80px;
  left: 50px;
  height: 100px;
  width: 100px;
  border: 2px solid lightGreen;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  font-family: "Hyperspace Italic", "Arial";
  text-shadow: 2px 2px 5px red;
  font-size: 35px;
  color: lightpink;
}

/* TEMPLATE */
.container {
  color: lightGreen;

  padding: 10px;
  width: 1200px;
  height: 800px;
  margin: auto;
  position: relative;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* BOXES */
.grid {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  justify-content: center;
  justify-content:space-between;
  justify-content:space-evenly;
  margin: auto;

}

.grid div {
  width: 25%;
  height: 100px;
}


.box {
  width: 150px;
  height: 150px;
  justify-content: space-around;
  font-size: 40px;
  line-height: 150px;
  text-align: center;
  color: lightBlue;
}

/* FOOTER */
footer {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content:space-between;

}

.play-pause {
  height: 70px;
  width: 70px;
  color: lightgreen;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 25px;
}

#scoreBox {
  font-family: "Hyperspace Bold", "Arial";
  text-align: center;
  margin: 0 auto;
}

#scoreCount {
  font-family: "Hyperspace Italic", "Arial";
  font-size: 18px;
  font-weight: bold;
}

#turtle-icon {
  background-image: url(../assets/images/small-turtle.png);
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
/* ................ Overlay Template .................. */

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(42, 42, 42);
  z-index: 10;
}

/* .................... END SCREEN ...................................... */
.end-screen {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
}

.end-screen h1 {
  text-shadow: 2px 2px 5px;
  padding-top: 100px;
}

.end-screen p {
  font-family: verdana, sans-serif;
  color: lightBlue;
}

#end-screen-icon {
  background-image: url(../assets/images/cup.svg);
  height: 120px;
  width: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-top: 50px;

}

.end-screen button {
  font-family: "Hyperspace", "Arial";
  font-size: 20px;
  width: 200px;
  height: 80px;
  margin-top: 50px;
  background-color: transparent;
  color: pink;
  border-color: rgb(132, 187, 180);
  border-radius: 10%;
  animation: blinker 3s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0; }
}
