* {
  box-sizing: border-box;
}

body {
  background-image: url(../assets/images/turtle-background.jpg);
  background-size: 100%;
}

h1 {
  text-align: center;
  font-size: 50px;
  margin: 0;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
}

.grid div {
  width: 25%;
  height: 100px;
  border: 1px dotted black;
}

#timer {
  height: 50px;
  width: 50px;
  border: 1px solid grey;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
}


.box {
  width: 150px;
  height: 150px;
  border: 1px dashed grey;
  justify-content: space-around;
  font-size: 40px;
  line-height: 150px;
  text-align: center;
}


/* ................ pages to hide during the game .................. */

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
}

.end-screen {

}

.start-screen {

}

.game-over-screen {
  
}
